<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97015579517-587v1o2blfi783gdql2h9bbmmelujb6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97015579517-587v1o2blfi783gdql2h9bbmmelujb6p</string>
	<key>API_KEY</key>
	<string>AIzaSyA3FXnRq-iaQUunfzk-BNU3MXY22THq_Is</string>
	<key>GCM_SENDER_ID</key>
	<string>97015579517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>test-7631d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7631d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97015579517:ios:63dc06df3e326dc1b90214</string>
	<key>DATABASE_URL</key>
	<string>https://test-7631d.firebaseio.com</string>
</dict>
</plist>